button#add_field_button-service, button#add_field_button-team, button#add_field_button-client, button#add_field_button-slider, 
button#add_field_button-portfolio, .client_block .wl-companion-submit-btn, .team_block .wl-companion-submit-btn,
 .portfolio_block .wl-companion-submit-btn, .service_block .wl-companion-submit-btn, .slider_block .wl-companion-submit-btn, .destination_block .wl-companion-submit-btn, button#add_field_button-destination {
    border: 0;
    font-weight: 700;
    width: 100%;
    height: auto;
    min-height: 60px;
    white-space: normal;
    color: #f45f47;
    margin-top: 12px;
    background: #fff;
    box-shadow: 3px 2px 3px 0px #c4c1c1;
    border-radius: 5px;
}
.iconpicker-popover.popover.fade.bottomRight.in {
    display: contents!important;
}
div.wl-dynamic-fields {
    border: 1px solid #b7b2b2;
    padding: 11px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #ccc;
    margin-bottom: 12px;
    margin-top: 12px;
}
.service_block label.col-form-label.wl-txt-label {
    font-size: 16px;
    font-weight: 500;
}
input#service_icon {
    width: 80%;
    display: inline-block;
}
span.input-group-addon {
    font-size: 25px;
}
span.input-group-addon i {
    margin-left: 10px;
}
#input_fields_wrap-service input.service_icon {
    width: 80%;
    display: inline-block;
}
#input_fields_wrap-service span.input-group-addon {
    font-size: 25px;
}
#input_fields_wrap-service span.input-group-addon i {
    margin-left: 10px;
}