p.import_successfully {
    background: #28b928d1;
    padding: 10px;
    color: #fff;
    font-size: 19px;
    width: 99%;
    border-radius: 5px;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
p.import_caption {
    font-size: 16px;
}
.enigma-import-export {
    max-width: 99%;
    margin-top: 2%;
}
.enigma-import-export .jumbotron {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    color: #fff;
}
.enigma-import-export h3 {
    color: #fff;
}
input.btn.btn-import-enigma {
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
}
input.btn.btn-import-enigma:hover {
    background: #fff;
    color: #44c5f9;
}
.result_export_textarea textarea{
    width: 99%;
}
p.import_failed {
    background: red;
    padding: 10px;
    color: #fff;
    font-size: 19px;
    width: 99%;
    border-radius: 5px;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.enigma-import-export.danger .jumbotron {
    background: linear-gradient(40deg, #ff1100, #d8908a) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    color: #fff;
    text-transform: capitalize;
}